body
{
background-size:cover;
}
.header{
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: double;
    text-shadow:3cm;
    text-overflow: ellipsis;

}